<template>
 <v-container fluid>
  <v-col cols="12">
  <v-card>
   <v-card-title>Node Status</v-card-title>
   <v-card-text>
 <v-simple-table fixed-header height="300px">
    <template v-slot:default>
      <thead>
        <tr>
          <th class="text-left">Time</th>
          <th class="text-left">Build</th>
          <th class="text-left">UUID</th>
          <th class="text-left">Name</th>
          <th class="text-left">Location</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in NodeStatus" v-bind:key="item.uuid">
          <td> {{ toJsDate(item.time) }}</td>
          <td>{{ item.build }}</td>
          <td>{{ item.uuid }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.lat }}, {{ item.lon }}</td>
        </tr>
      </tbody>
    </template>
  </v-simple-table>
   </v-card-text>
   <v-card-actions>
     <v-btn
        text
        color="deep-purple accent-4"
      >
        See More
      </v-btn>
   </v-card-actions>
  </v-card>
  </v-col>
 </v-container>
</template>

<script>


export default {
  name: 'Dashboard',
  components: {
  },
  data: () => ({
  }),
  updated() {
    this.$store.dispatch("ui/GetNodeStatus")
  },
  created() {
      this.$store.subscribe((mutation) => {
        if (mutation.type === 'ui/authenticated') {
          this.$store.dispatch("ui/GetNodeStatus")

          const self = this
          var testFunc = function() {
            self.$store.dispatch("ui/GetNodeStatus") 
          }
			
          setInterval(testFunc,10000);
        }
      })
  },

  mounted () {
  },
  computed: {
     NodeStatus: function() {
       /* eslint-disable */
       return this.$store.state.ui.NodeStatus
     },
  },
  methods: {
    sec2time: function (timeInSeconds) {
      var pad = function(num, size) { return ('000' + num).slice(size * -1); },
      time = parseFloat(timeInSeconds).toFixed(3),
      hours = Math.floor(time / 60 / 60),
      minutes = Math.floor(time / 60) % 60,
      seconds = Math.floor(time - minutes * 60),
      milliseconds = time.slice(-3);
      return pad(hours, 2) + ':' + pad(minutes, 2) + ':' + pad(seconds, 2) + ',' + pad(milliseconds, 3);
   },
   toJsDate: function (pbDate) {
     var dt = new Date()
     dt.setUTCSeconds(pbDate.seconds)
	 return dt.toUTCString()
   }
  }
}

</script>
