<template>
  <v-app>
    <v-dialog v-if="!UserHasRole('admin')" v-model="dialog" hide-overlay fullscreen>
      <v-card flat>
       <login></login>
      </v-card>
	</v-dialog>
    <v-navigation-drawer
     app
     clipped>
      <v-list>
        <v-list-item link to="/dashboard">
          <v-list-item-action>
            <v-icon color="grey darken-1">mdi-view-dashboard</v-icon>
          </v-list-item-action>
          <v-list-item-title class="grey--text text--darken-1">Dashboard</v-list-item-title>
        </v-list-item>

        <v-list-item link to="/map">
          <v-list-item-action>
            <v-icon color="grey darken-1">mdi-map</v-icon>
          </v-list-item-action>
          <v-list-item-title class="grey--text text--darken-1">Map</v-list-item-title>
        </v-list-item>

        <v-list-item link to="/events">
          <v-list-item-action>
            <v-icon color="grey darken-1">mdi-alert-circle</v-icon>
          </v-list-item-action>
          <v-list-item-title class="grey--text text--darken-1">Events</v-list-item-title>
        </v-list-item>

        <v-list-item link to="/library">
          <v-list-item-action>
            <v-icon color="grey darken-1">mdi-library-video</v-icon>
          </v-list-item-action>
          <v-list-item-title class="grey--text text--darken-1">Video Library</v-list-item-title>
        </v-list-item>

        <v-list-item link to="/settings">
          <v-list-item-action>
            <v-icon color="grey darken-1">mdi-settings</v-icon>
          </v-list-item-action>
          <v-list-item-title class="grey--text text--darken-1">Settings</v-list-item-title>
        </v-list-item>

        <v-list-item link to="/login">
          <v-list-item-action>
            <v-icon color="grey darken-1">mdi-login</v-icon>
          </v-list-item-action>
          <v-list-item-title class="grey--text text--darken-1">Login</v-list-item-title>
        </v-list-item>
      </v-list>
	</v-navigation-drawer>
    <v-app-bar clipped-left
        app
        color="primary"
        dark
    >
      <div class="d-flex align-center">
        <router-link to="/">
	<v-img
          alt="UAPTN Logo"
          class="shrink mr-2"
          contain
          src="./assets/skyhub.png"
          transition="scale-transition"
          width="64"
	/>
        </router-link>
      </div>
        <v-divider class="d-none d-sm-flex" vertical dark></v-divider>
	<v-toolbar-title class="ma-2 d-none d-sm-flex " style="font-size: 40px;">UAPTN</v-toolbar-title>
	<v-spacer></v-spacer><v-btn @click="logoutClicked" v-if="UserHasRole('admin')" icon><v-icon>mdi-logout</v-icon></v-btn>
    </v-app-bar>
      <v-content>
      <router-view/>
      </v-content>
    <v-footer>
       <v-spacer></v-spacer>
       <div class="font-weight-thin caption">&copy; {{ new Date().getFullYear() }} UAPTN. All Rights Reserved</div>
    </v-footer>
  </v-app>
</template>
<style scoped>
.nova {
	font-family: 'Nova Round', cursive;
}
</style>
<script>
import Login from './components/Login.vue';
export default {
  name: 'App',

  components: {
    Login,
  },
  methods: {
    logoutClicked () {
        this.$store.dispatch('ui/logout')
    }
  },
  watch: {
  },
  created() {
  },
  data: () => ({
    dialog: true,
  }),
};
</script>
